BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
TabWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 300
AccessModifierOffset: -4
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes
AlignEscapedNewlines: Left
AllowShortLambdasOnASingleLine : true
FixNamespaceComments : false
NamespaceIndentation : All
SpaceAfterCStyleCast : true
SpaceAfterLogicalNot : true
SpaceBeforeJsonColon : true
SpacesInContainerLiterals : true